@model SimpleBlog.ViewModels.ArticleViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout_With_SideBar.cshtml";
}

<h2>Latest Articles</h2>

@foreach (var article in Model.Articles)
{

    <div class="thumbnail">

        <div class="caption">
            
            <h3>@article.Title</h3> 
            <hr/>
            <p class="text-right">Posted in @article.Category.Name by @article.Publisher.UserName on @article.DatePublished</p> 
            <br/>
            <p class="text-left">@article.Content</p>

        </div>
    </div>
}